@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu' sans-serif;
    transition: 0.5s;
    height: 100vh;
}

.changeTheme{
    margin: 0 40px 0;
    width: 60px;
    display: block;
    background-color: #CBCBCB;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
    padding: 9px 18px;
    height: 30px;
    cursor: pointer;
}
.changeTheme i{
    margin: 0 0 0 20px;
    font-size: 13px;
    color: #6b6b6b;
    align-items: center;
    display: flex;
}

.changeTheme::before{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    content: '';
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 5px 10px #b5b4b4;
}
.changeTheme input{
    display: none;
}

.changeTheme:has(input:checked){
    background-color: #4CB774;

}

.changeTheme:has(input:checked)::before{
    left: calc(100% - 25px);
}

body:has(input[name="changeTheme"]:checked){
    background-image: linear-gradient(to left,#36003a,#000632 80%);
    background-size: cover;

}

@media screen and (max-width:767px){
  .changeTheme{
    margin: -20px 50px 0;
    
}
}
@media screen and (min-width:768px) and (max-width:1024px){
  .changeTheme{
    margin: -20px 50px 0;
  }  
}



/** Menu */
body:has(input[name="changeTheme"]:checked) .containerShop{
  color: #ffffff;
  font-size: 1.5rem;
  padding-bottom: 30px;
 }


/* Reponsive Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body:has(input[name="changeTheme"]:checked) .logo{
    position: absolute;
    right:-40px;
    top: -60px;
  }
  body:has(input[name="changeTheme"]:checked) .navbar{
    position: fixed;  
    width: 30vw;
    background-color: #5a5a5a;
    background-image: linear-gradient(160deg, #6e6e6e 0%, #002437 100%);

    top: 0;
    left: 0;
    height: 100vh;
    display: block;
    transition: 0.3s;
    transform: translate(-100%, 0);
    
  }
  body:has(input[name="changeTheme"]:checked) .navbar .openNav{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #ffffff69;
    padding: 10px;
    border-radius: 0 8px 8px 0;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .openNav span{
    display: block;
    background-color: #2f2f2f;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: 0.5s;
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked){
    transform: translate(0, 0);
    
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(2){
  opacity: 0;
  transition: 0s;
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(1){
    transform: rotate(45deg) translate(6px, 5px);

  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(3){
      transform: rotate(-45deg) translate(6px, -5px);
  
  }
  body:has(input[name="changeTheme"]:checked) .navbar input{
        display: none;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li{
      display: block;
      position: unset;
      border-bottom: 1px solid #ffffff1f;
      font-weight: 500px;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .otherOption,
  .navbar .menu{
      width: 100%;
      text-align: left;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu li:hover{
    background-color: unset!important;
    border-left: 10px solid #00a35a;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu label{
    display: block;
    float: right;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu label i{
      display: block;
      transition: 0.5s;
      margin-right: 0;
  }
  body:has(input[name="changeTheme"]:checked) .navbar label:has(input:checked) ~ ul{
    max-height: 50vh;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu li ul{
    width: 100%;
    max-height: 0;
    position: unset;
    background-color: unset;
    display: block;
    overflow: hidden;
    transition: 0.5s;
    opacity: 1;
    border-left:1px solid #ffffff40 ;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li:hover{
    border-left: unset!important;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li{
    border-bottom: 0;
    padding: 10px 10px 10px 50px;
    position: relative;
    color: #cdcdcd;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li::before{
    position: absolute;
    top: 20px;
    left: 0;
    width: 30px;
    height: 100%;
    content: '';
    border-top:1px solid #ffffff37;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li::after{
    position: absolute;
    top: 18px;
    left: 30px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
    background:  #ffffff2c;
  }
  body:has(input[name="changeTheme"]:checked) .navbar label input:checked ~ i{
    transform: rotate(180deg)!important;

  }
  body:has(input[name="changeTheme"]:checked) .navbar i{
    display: unset;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  
}


/* Mobile reponsive */
@media only screen and (max-width:768px) {
  body:has(input[name="changeTheme"]:checked) .logo{
    position: absolute;
    right:-40px;
    top: -70px;
  }
  body:has(input[name="changeTheme"]:checked) .navbar{
    position: fixed;
    width: 50vw;
    background-color: #5a5a5a;
    background-image: linear-gradient(160deg, #6e6e6e 0%, #002437 100%);
    top: 0;
    left: 0;
    height: 100vh;
    display: block;
    transition: 0.3s;
    transform: translate(-100%, 0);

  }
  body:has(input[name="changeTheme"]:checked) .navbar .openNav{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #ffffff7b;
    padding: 10px;
    border-radius: 0 8px 8px 0;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .openNav span{
    display: block;
    background-color: #262626;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: 0.5s;
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked){
    transform: translate(0, 0);
    
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(2){
  opacity: 0;
  transition: 0s;
  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(1){
    transform: rotate(45deg) translate(6px, 5px);

  }
  body:has(input[name="changeTheme"]:checked) .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(3){
      transform: rotate(-45deg) translate(6px, -5px);
  
  }
  body:has(input[name="changeTheme"]:checked) .navbar input{
        display: none;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li{
      display: block;
      position: unset;
      border-bottom: 1px solid #ffffff29;
      font-weight: 500px;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .otherOption,
  body:has(input[name="changeTheme"]:checked) .navbar .menu{
      width: 100%;
      text-align: left;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu li:hover{
    background-color: unset!important;
    border-left: 10px solid #00a35a;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu label{
    display: block;
    float: right;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu label i{
      display: block;
      transition: 0.3s;
      margin-right: 0;
      color: white;
  }
  body:has(input[name="changeTheme"]:checked) .navbar label:has(input:checked) ~ ul{
    max-height: 50vh;
  }
  body:has(input[name="changeTheme"]:checked) .navbar .menu li ul{
    width: 100%;
    max-height: 0;
    position: unset;
    background-color: unset;
    display: block;
    overflow: hidden;
    transition: 0.3s;
    opacity: 1;
    border-left:1px solid #ffffff22 ;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li:hover{
    border-left: unset!important;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li{
    border-bottom: 0;
    padding: 10px 10px 10px 50px;
    position: relative;
    color: #dbdbdb;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li::before{
    position: absolute;
    top: 20px;
    left: 0;
    width: 30px;
    height: 100%;
    content: '';
    border-top:1px solid #ffffff37;
  }
  body:has(input[name="changeTheme"]:checked) .navbar li li::after{
    position: absolute;
    top: 18px;
    left: 30px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
    background:  #ffffff2f;
  }
  body:has(input[name="changeTheme"]:checked) .navbar label input:checked ~ i{
    transform: rotate(180deg)!important;

  }
  body:has(input[name="changeTheme"]:checked) .navbar i{
    display: unset;
    margin-right: 20px;

  }
}

/** Menu End */

/** Partner */

/** Partner End */

/** SLIDER */
body:has(input[name="changeTheme"]:checked) .title
    {
        text-transform: uppercase;
        color: #efefef;
    }

    body:has(input[name="changeTheme"]:checked) .light
    {
        text-transform: uppercase;
        background-image: conic-gradient(
          from var(--rotate) at 45% 10%,
          #7d7c7c 40%, 
          #ffffff,
          #807f7f 60%
        );
        font-size: 3rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: rotateLight 
                   3s ease-in-out infinite
                   alternate;
    
    }
    @keyframes rotateLight{
      from{
        --rotate: 0.15turn;
      }to{
        --rotate: -0.15turn;
      }
    }


    body:has(input[name="changeTheme"]:checked) .des{
        color: #d2d2d2;
    }
    body:has(input[name="changeTheme"]:checked) .contentTwo{
        color: #d2d2d2;
    }
    
    @media (max-width:768px){
    body:has(input[name="changeTheme"]:checked) .light{
        text-transform: uppercase;
        background-image: conic-gradient(
          from var(--rotate) at 45% 10%,
          #929191 40%, 
          #ffffff,
          #989797 60%
        );
        font-size: 2rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: rotateLight 
                   3s ease-in-out infinite
                   alternate;
    
    }
    @keyframes rotateLight{
      from{
        --rotate: 0.15turn;
      }to{
        --rotate: -0.15turn;
      }
    }
    }

  /** ABOUT */
  body:has(input[name="changeTheme"]:checked) .about{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body:has(input[name="changeTheme"]:checked) .about__content h3{
    color: rgb(240, 240, 240);
  }
  body:has(input[name="changeTheme"]:checked) .about__content p{
    color: rgb(240, 240, 240);
  }
  @media(max-width:768px){
    body:has(input[name="changeTheme"]:checked) .about{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; 
    }
    body:has(input[name="changeTheme"]:checked) .about__content p{
      font-size: 1rem;
      letter-spacing: 1.2;
      padding: 20px 0;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h2{
      font-size: 2.5rem;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h3{
      font-size: 1.2rem;
      display: inline;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h3 .multiple-text2{
      font-size: 1.2rem;
    }
    body:has(input[name="changeTheme"]:checked) .btnAbout{
      font-size: 14px;
      padding: 10px 20px;
    }
    body:has(input[name="changeTheme"]:checked) .icon_about img{
      width: 25px;
      height: 25px;
    }
  }
  @media (min-width:768px) and (max-width:1200px){
    body:has(input[name="changeTheme"]:checked) .about{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px; 
    }
    body:has(input[name="changeTheme"]:checked) .about__content p{
      font-size: 1rem;
      letter-spacing: 1.2;
      padding: 20px 0;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h2{
      font-size: 2.8rem;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h3{
      font-size: 1.6rem;
      display: inline;
    }
    body:has(input[name="changeTheme"]:checked) .about__content h3 .multiple-text2{
      font-size: 1.6rem;
    }
    body:has(input[name="changeTheme"]:checked) .btnAbout{
      font-size: 18px;
      padding: 10px 20px;
    }
    body:has(input[name="changeTheme"]:checked) .icon_about img{
      width: 30px;
      height: 30px;
    }
  }


  /** ABOUT END */
   
